.soundcloud {
    margin-bottom: 15px;
}

.alpha {
    margin-right: 15px;
}

.footer{
    background-color: #212121 !important;
}

.video-row {margin-bottom: 15px}

.pull-right{text-align: right}

.review {
    margin-bottom: 25px;
    width: 35vw;
    margin: auto;
}

.review-text{
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding-bottom: 45px;
}

.footer-link{
    margin: 15px;
    text-decoration: none;
    font-variant: small-caps;
    color: white;
}

.content-spacer {
    margin-top: 75px;
    margin-bottom: 75px;
}

.contact-spacing {
    margin-left: 16.5%;
}

.contact-button {
    background-color: #212121 !important;
    color: white !important;
    text-align: center;
    width: 12%; 
    margin-left: 44%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-icon{
    color: #212121;
    padding-left: 10px;
    padding-right: 10px;
}


@media (max-width: 2000px) {
    .grid-image{
        width:  100%;
        height: 400px;
        object-fit: cover;
    }
    
}
  @media (max-width: 1000px) {
    .grid-image{
        width:  200px;
        height: 200px;
        object-fit: cover;
    }
    
  }
  @media (max-width: 800px) {
    .grid-image{
        width:  100px;
        height: 100px;
        object-fit: cover;
    }
   
  }
  @media (max-width: 400px) {
    .grid-image{
        width:  100px;
        height: 100px;
        object-fit: cover;
    }
    
  }

/* .on-load-nav a {
    color: white !important ;
} */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

body,
html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */

.bgimg-1 {
    background-image: url('photos/three_headshots.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */

.bgimg-2 {
    background-image: url("/photos/forever_plaid.jpg");
    min-height: 800px;
}

/* Third image (Contact) */

.bgimg-3 {
    background-image: url("/photos/I_Love_You.jpg");
    min-height: 800px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1600px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
        min-height: 400px;
    }
}